body {
    background-color: #f5f7fa;
    font-family: 'Montserrat', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main-content-section {
    padding: 100px 90px;
}

.main-content-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    color: #000;
    margin-bottom: 10px;
}

/*About*/
.about-me-section {
    margin-bottom: 40px;
}

.about-me-profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #000;
    margin-bottom: 20px;

}

.about-me-name {
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 25px;
    color: #000;
}

.about-me-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

/*My projects*/
.my-projects-section {
    margin-bottom: 50px;
}

.my-projects-list {
    padding-left: 17px;
}

.my-projects-item {
    color: #000;
    font-weight: 700;
}

.my-projects-text,
.my-projects-link {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.my-projects-text {
    margin-left: 5px;
}

.my-projects-bracket {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-weight: 700;
    color: #000;
}

.my-work-experience-company-block {
    margin-right: 15px;
}

.my-work-experience-position {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 10px;
}

.my-work-experience-company {
    color: #FB6D3A;
    font-weight: 700;
    margin-right: 15px;
}

.my-work-experience-period {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.my-work-experience-divider {
    color: #000;
}

.my-work-experience-duties {
    padding-left: 18px;
}

.my-work-experience-duty {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* My education */
.my-education-position {
    color: #FB6D3A;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.my-education-management {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}

.my-education-experience-period {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}
.my-education-experience-divider {
    color: #000;
}

/*Sidebar*/
.sidebar-section {
    background-color: #1E2939;
    width: 370px;
    padding: 40px 0 0 0;
}

.contacts-section,
.tech-skills-section,
.soft-skills-section {
    margin: 50px 0 0 40px;
}

.sidebar-title {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 10px;
}

.sidebar-list {
    padding: 0 0 0 17px;
}

.sidebar-item {
    color: #fb6d3a;
}

.sidebar-item-text {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

/* Contacts section */
.contact-section-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-right: 7px;
}

.contact-section-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #565e6a;
    font-style: normal;
}